<?xml version="1.0"?>
<!--
/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Payplug_Ogloba::log" title="Ogloba API Logs" translate="title" sortOrder="100"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
